extends layout

block content
	form(
		action = "/"
		method = "post"
		enctype = "application/x-www-form-urlencoded"
	)
		.left-panel
			.hostname!= hostname

			input(
				type = "submit",
				name = "logout",
				value = "Logout"
			)
			input(
				type = "submit",
				name = "submit",
				value = "Submit",
				disabled = true
			)
			input(
				type = "button",
				name = "explain",
				value = "Explain",
				disabled = true
			)

			.errors

			a(
				href = "/monitor-result.txt",
				target="_blank"
			)
				!= 'Monitor last result'

			fieldset
				legend
					!= 'Hosts'
				.wrap(style = "padding:3px;")
					.buttons
						span!= 'Selection:&nbsp;'
						button.all!= 'All'
						button.invert!= 'Invert'
						button.reset!= 'Reset'
				hr
				.wrap(style = "padding:3px;")
					.buttons
						button.btn-recheck!= 'Recheck'
				hr
				.wrap(style = "padding-top:3px;")
					.hosts


		input(
			type = "hidden",
			name = "config",
		)
		pre#editor
